<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
    <head>
        <title>Taco Cloud</title>
    </head>

    <body>
        <h1>Login</h1>
        <img th:src = "@{/images/taco_cloud.png}"/>

        <div th:if="${error}">Unable to login. Check your username and password.</div>

        <p>New here? Click <a th:href="@{/register}">here</a> to register.</p>
<!-- 
        <div><h3><a th:href="login/oauth2/authorization/google">Sign in with Google</a></h3></div>
        <div><p>OR</p></div> -->

        <form method="POST" th:action="@{/login}" id="loginForm">
            <div>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" /><br/>

            <label for="password">Password: </label>
            <input type="text" name="password" id="password" /><br/>

            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

            <input type="submit" value="Login"/>
            </div>
        </form>

        <form method="POST" th:action="@{/logout}">
            <input type="submit" value="Logout"/>
        </form>
    </body>
</html>